.club-container {
  position: relative;
  width: 300px; /* Ajusta según sea necesario */
  height: 300px; /* Ajusta según sea necesario */
}

.club-card {
  background: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para el contenido del club */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
